/* TYPEFACES */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* TABLE BORDERS */
.tg th {
  background: #8498ab;
  font-family: 'nunito';
  color: white;
  text-align: left;
	}

/* FIDDLE LAND */
h2 {
  font-size: 33px;
  font-family: 'merriweather'
	}

body {
  font-family:'merriweather';
  font-weight: bold;
	}

div#wrapper {
  font-family: 'nunito';
	}

.footer {
  left: 30;
  bottom: 0;
  color: #949494;
  font-size: 10px;
}

